<!-- <h1>Hello world {{title}}</h1>
<h3>{{data}}</h3>
<p>{{myfunction()}}</p>
<p>{{4*8}}</p>
<p>{{title === "Angular_project"}}</p>
<!-- <p>{{value++}}</p> -->
<!-- Here we can use increment, decrement, new keyword, typeof  -->
<!-- <p class={{title}}>Adding the class in p tag using interpolation</p>
<p class="{{title}}">This is angular course</p> -->


<!-- <h1>my first component in Angular</h1> -->
<!-- <app-customer-list></app-customer-list> -->
<!-- <app-create-user></app-create-user> -->

<!-- <app-comp1></app-comp1> -->
<!-- <app-comp2></app-comp2> -->
<!-- <app-comp3></app-comp3> -->

<!-- <style>
    table,
    th,
    td {
        border: 1px solid black;
        text-align: center;
    }
</style>
<h3>Map operation</h3>

<table>
    <tr>
        <th>id</th>
        <th>Color</th>
        <th>Type</th>
        <th>registration</th>
    </tr>
    <!-- <tr *ngFor="let x of array | keyvalue">
        <td>{{x.id}</td>
        <td>{{x.value}}</td>
        <td>{{x.value}}</td>
        <td>{{x.registration}</td> 
    </tr>  -->

<!-- <tr>
        <td>{{value}}</td>
        <td>
            <ul id="box">

            </ul>
        </td>


    </tr> -->
<!-- </table> -->

<!-- <h1 appCustomdirective>appCustomdirectiveS</h1>
<br /><br />
<h1>Parent Component</h1>
<input type="text" #parent>
<button (click)="submitData(parent.value)">Add Value</button>
<app-lifecycle [childValue]='dataValue'>ngContent: {{dataValue}}</app-lifecycle> -->





<!-- ----1-march-2023 This is today task---- -->
<!--The content below is only a placeholder and can be replaced.-->
<!-- <div>
    <h1>3 march task</h1>
    <app-register></app-register>
    <app-comp1></app-comp1>
    <h3>--------------End---------</h3>
</div> -->






<!-- <div>
    <h1>This is a ngIF</h1>
    <button (click)="onclick()">Click</button>
    <h3 *ngIf="valid; then thenblock  else elseblock">This is a ngif block</h3>

    <div>{{ isLoggedIn ? 'Welcome back!' : 'Please log in.' }}</div>

    <ng-template #elseblock>
        <h3>no record found!</h3>
    </ng-template>

    <ng-template #thenblock>
        <h3>This is then block!</h3>
    </ng-template>
</div> -->

<!-- <div>
    <h1>This is a ngSwitch</h1>
    <div>
        <select (change)="getSelectedValue($event)">
            <option value="default">-----Select Product-----</option>
            <option value="Laptop">Laptop</option>
            <option value="Mobile">Mobile</option>
            <option value="iphone">iphone</option>
            <option value="Tv">Tv</option>
        </select>
    </div>

    <div [ngSwitch]="selectOption">
        <h4 *ngSwitchDefault>Please select Product</h4>
        <h4 *ngSwitchCase="'Laptop'">Laptop</h4>
        <h4 *ngSwitchCase="'Mobile'">Mobile</h4>
        <h4 *ngSwitchCase="'Tv'">Tv</h4>

        <h4 *ngSwitchCase="'iphone'">iphone</h4>
    </div>
</div> -->

<!-- <div>
    <h1>This is ngFor</h1>
    <table>
        <thead>
            <tr>
                <th>Product_Id</th>
                <th>Product_Name</th>
                <th>Product_Price</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let data of product">
                <td>{{data.productId}}</td>
                <td>{{data.productName}}</td>
                <td>{{data.productPrice}}</td>
            </tr>
        </tbody>
    </table>
</div> -->



<!-- <br /><br />
<div>
    <h1>Dependency injection or services</h1>
    <table>
        <thead>
            <tr>
                <th>Product_Id</th>
                <th>Product_Name</th>
                <th>Product_Price</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let x of arrObj">
                <td>{{x.productId}}</td>
                <td>{{x.productName}}</td>
                <td>{{x.productPrice}}</td>
            </tr>
        </tbody>
    </table>
</div> -->

<!-- <h2>Parent to child Data</h2>
<app-login [myData]="myData" [myArray]="myArray" [myObject]="myObject" [myfunction]="myfunction"
    (myChildData)="recieveData($event)"></app-login> -->



<!-- <h3>get Api </h3>
<ul *ngFor="let x of newArr">
    <li>{{x}}</li>
</ul> -->

<!-- <h1>post Data</h1>
<form #formData="ngForm" (ngSubmit)="onSubmit(formData.value)">
    <label for="name">Name</label>
    <input type="text" name="name" value="deepak">

    <label for="email">
        <title></title>
    </label>
    <input type="text" name="title" ngModel value="hellllll">



    <button type="submit">Submit</button>

</form> -->


<!-- <form #form="ngForm" (ngSubmit)="deleteData(form.value)">
    <label>Id:</label>
    <input type="number" name="id" ngModel value="201">
    <button>delete Data</button>
</form>

<button (click)="updateData()">Put Data</button> -->

<!-- <app-router></app-router> -->
<!-- <app-page-not-found></app-page-not-found> -->
<!-- <h1>Lazy loading</h1>
<ul>
    <li><a routerLink="student/studentlist">student</a></li>
</ul> -->

<!-- <app-rxjs></app-rxjs> -->
<!-- <router-outlet></router-outlet> -->






<!-- ViewChild Component for child to send data in parent  -->
<!-- <app-viewchild></app-viewchild>
<button type="button" (click)="CallInParentIncrease()">counter +</button>
<button type="button" (click)="CallInParentDecease()">counter -</button> -->

<!-- <app-activated-route></app-activated-route> -->
<!-- <app-view-book-detail></app-view-book-detail> -->
<!-- <router-outlet></router-outlet> -->







<!-- <img src="https://picsum.photos/200/300" alt="pic"> -->

<!-- <app-pagination></app-pagination> -->
<!-- <app-promise></app-promise> -->
<app-scheduler></app-scheduler>