<style>
    .loader {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
</style>
<!-- <h3 class="text-center">{{title}}</h3> -->
<div class="container" *ngIf="!isLoading">
    <div>
        <select (change)="onTableSizeChange($event)">
            <option *ngFor="let size of tableSizes">
                {{size}}
            </option>
        </select>
    </div>
    <table class="table">
        <thead>
            <tr>
                <!-- <th scope="col">userId</th> -->
                <th scope="col">#id</th>
                <th scope="col">title</th>
                <th scope="col">body</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of list | paginate:{itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
            }; let i = index">
                <!-- <th scope="row">{{post.userId}}</th> -->
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <pagination-controls (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div>
</div>



<!-- create a loader -->

<div class="loader" *ngIf="isLoading">
    <div>
        <img src="../../assets/images/loading.gif" width="50rem">
    </div>
    <div>
        <!-- <p class="text-center">Loading...</p> -->
    </div>
</div>